
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkgrey;
    text-align: justify;
}
.container-fluid{
    padding: 0;
    margin-top:10px;
    background-color: hsl(333, 52%, 27%);
    color: #fcfcfc;
}

.navbar-brand{
     color: #fcfcfc;
}



#header{
    display: grid;
    grid-template-columns: 2fr 5fr;
    background: #d8a9bf;
    color: #fcfcfc;
    }

#linea{
    width: 500px;
    height: 5px;
    margin-top: 20px;
    background: #fcfcfc;
}


.nombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
    margin-top: 20px;

}

#descripcion{
    letter-spacing: 0.1rem;
    margin-top: 30px;
    font-size: 2.2em;
}

#imagen{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
    width: 200px;
    height: 200px;
    border: 3px solid #fcfcfc;
    border-radius: 90px;


}

#experiencia,#experienciaf,#experienciac,#experienciacon {
    background: #f7d8f0;
    color: gray;
    text-transform: uppercase;
    font-size: medium;
}

.experiencia-contenedor {
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    
}

a:hover {
    color: #fcfcfc;
  }

.form{
    margin-bottom: 2px;
}

#name{
    
}
.contenedor-contacto input,
.contenedor-contacto textarea,
.contenedor-contacto button
{
    width:100%;
    border-color: gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#datos span{
    margin-bottom: 1px;
}